<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.logMapper">

	<!-- parameterType db에 넘겨줄때 필요함, 파라미터log는 mybatis에 정의되어있다.-->
	<!-- id="insert"는 logMapper.java의 인터페이스메소드이름과 같아야한다. -->
   	<insert id="insert" parameterType="log">  
   	<!-- 파라미터log(log.java)에 정의되어있는 변수이름이랑 같아야한다. 끝에 ;있으면 안됨 -->
   	    insert into t_log values (#{id},#{pwd},#{name},#{content}) 
	</insert>
    
	
</mapper>